<div class="container">
    <h1 class="d-flex justify-content-center pt-2 primaryFont">Footer Component </h1>

    <div class="row mb-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
            <div class="card2 card border-0 px-4 py-5 shadow">
                <h1 style="text-align: center;">User Feedback</h1>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Batch</th>
                                            <th scope="col">Feedback</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let feedback of FeedbackResoruce">
                                            <th scope="row">{{feedback.userName}}</th>
                                            <td>{{feedback.feedback}}</td>
                                            <td>{{feedback.email}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" style="margin-right: 4px;" (click)="DeleteModel(feedback.feedbackId,deleteModel)"><i class="far fa-trash-alt"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<div class="row" style="padding-bottom: 150px;"></div>
<ng-template #deleteModel let-modal>
    <div class="app-modal-window ">
        <div class="modal-body ">
            <!-- Basic Validation -->
            <div class="row clearfix ">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class=" justify-content-center">
                        <h2 style="text-align: center">Are you sure want to Delete this Feedback ?</h2>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Validation -->
        </div>
        <div class="modal-footer d-flex justify-content-center text-light ">
            <button type="button " class="btn theme-btn-cancel " (click)="CloseModel()">Cancel</button>
            <button type="button " class="btn theme-btn " (click)="DeleteModuleAPI(feedbackId)">Confirm</button>
        </div>

    </div>
</ng-template>