<app-header (hrefID)="ScrollToSelectedPosition($event)"></app-header>

<section id="section1">
    <app-section-one></app-section-one>
</section>

<section id="section2">
    <app-section-two></app-section-two>
</section>

<div style="padding-bottom: 20px"></div>

<section id="section3">
    <app-section-three></app-section-three>
</section>

<div style="padding-bottom: 20px"></div>

<section id="section4">
    <app-section-four></app-section-four>
</section>

<app-client-footer></app-client-footer>