<section class="dark">
    <div class="container py-4">
        <h1 class="h1 text-center" style="color:blanchedalmond" id="pageHeaderTitle">Lecture Section</h1>

        <article class="postcard dark blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/images/web.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="#">Web Development</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-book mr-2"></i>Html, CSS, JS
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">The web is a very big place, and if you are the typical internet user, you probably visit several websites every day, whether for business, entertainment or education. But have you ever wondered how these websites actually work? How are
                    they built? How do browsers, computers, and mobile devices interact with the web? What skills are necessary to build a website? With almost 1 billion websites now on the internet, the answers to these questions could be your first
                    step toward a better understanding of the internet and developing a new set of internet skills. </div>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Brief</li>

                </ul>
            </div>
        </article>
        <article class="postcard dark red">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/images/db.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title red"><a href="#">Database System</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-book mr-2"></i>DDL, DQI, DDL, DCL

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">A study of database models including the hierarhical, networ, relational and object oriented models and the examination of such practical issues as database design, setup, and manipulation. Other selected topics include data integrity,
                    data seurity, backup and recovery procedures, database administration, etc. Several programming projects are assigned involving the use of a database management system. Prerequisite: COSC 163.
                </div>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Brief</li>

                </ul>
            </div>
        </article>
        <article class="postcard dark green">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/images/app.png" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title green"><a href="#">Appication Software</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-book mr-2"></i>Internet browsers, Music Software, Communication Software

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Application software is a type of computer program that performs a specific personal, educational, and business function. Each application is designed to assist end-users in accomplishing a variety of tasks, which may be related to productivity,
                    creativity, or communication.</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Brief</li>

                </ul>
            </div>
        </article>
        <article class="postcard dark yellow">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/images/mob.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title yellow"><a href="#">Mobile Application</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-book mr-2"></i>Android, IOS
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Mobile application development is the process of creating software applications that run on a mobile device, and a typical mobile application utilizes a network connection to work with remote computing resources. Hence, the mobile development
                    process involves creating installable software bundles (code, binaries, assets, etc.) , implementing backend services such as data access with an API, and testing the application on target devices.</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Brief</li>

                </ul>
            </div>
        </article>
    </div>
</section>