<section id="error" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
        <div>
          <h1 class="secondaryTextColor">Oops!</h1>
          <h2>We can't seem to find the page you're looking for.</h2>
          <img src="assets/images/404.png" class="img-fluid" alt="">
          <h3 class="text-secondary"> Error Code 404</h3>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-2 order-lg-2 error-img display" data-aos="fade-up">
        <img src="assets/images/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
