<section class="dark">
    <div class="container py-4">
        <h1 class="h1 text-center" style="color:blanchedalmond" id="pageHeaderTitle">Relaxation Section</h1>

        <article class="postcard dark blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/images/game.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="#">Games</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-book mr-2"></i>Different kind of time passing games
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">According to research, using games in teaching can help increase student participation, foster social and emotional learning, and motivate students to take risks. One study of the popular multiple-choice quiz game Kahoot found that it
                    improved students' attitudes toward learning and boosted their academic scores.
                </div>

            </div>
        </article>
        <article class="postcard dark red">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/images/music.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title red"><a href="#">Music</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-book mr-2"></i>For Relaxation

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Studies have shown that music produces several positive effects on a human's body and brain. Music activates both the left and right brain at the same time, and the activation of both hemispheres can maximize learning and improve memory
                </div>

            </div>
        </article>
        <article class="postcard dark green">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/images/quotes.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title green"><a href="#">Quotes</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-book mr-2"></i>For Motivation

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Inspirational quotes are greatly beneficial to everyone, especially students, regardless of where they are in the writing process. Quotes can help generate ideas within brainstorming, which can influence the ideas within the piece. They
                    can send you in new directions by presenting the ideas of others.</div>

            </div>
        </article>

    </div>
</section>