<div class="card2 card border-0 px-4 py-5 shadow">
    <div class="row mb-4 justify-content-center">
        <h1>Add Assignment Resources</h1>
    </div>
    <form [formGroup]="sampleForm">
        <!--Image-->
        <div class="row mb-5 box justify-content-center">
            <div class="col-6 align-self-center">
                <div class="form-group" id="frmFileUpload" class="dropzone" method="post" enctype="multipart/form-data">
                    <div><i class="fas fa-arrow-alt-to-top"></i></div>
                    <h5 class="text-center">Upload the assignment file</h5>

                    <input class="" formControlName="Doc" accept="application/pdf" style="cursor: pointer" id="Doc" type="file" (change)="onFileChange($event)" multiple [ngClass]="{ 'is-invalid': submitted && formControl.Doc.errors }" />
                    <div *ngIf="submitted && formControl.Doc.errors" class="invalid-feedback">
                        <div *ngIf="formControl.Doc.errors.required">File is required</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="form-group">
                    <label><h6 class="text-sm">Batch</h6></label>
                    <select type="text" name="Module" placeholder="Select a Batch" formControlName="Batch" class="form-control" (change)="ChangeDropDownValue(Batch, $event);GetModuleResourceAPI()" [ngClass]="{ 'is-invalid': submitted && formControl.Batch.errors }">
                             <option value="" disabled>Choose the Batch</option>
                            <option *ngFor="let batch of ComboBoxResoruceBatch" [ngValue]="batch">{{batch.batchNo}}</option>
                             </select>
                    <div *ngIf="submitted && formControl.Batch.errors" class="invalid-feedback">
                        <div *ngIf="formControl.Batch.errors.required">Batch is required</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="form-group">
                    <label><h6 class="text-sm">Module</h6></label>
                    <select type="text" name="Module" placeholder="Select a Module" formControlName="Module" class="form-control" (change)="ChangeDropDownValue(Module, $event)" [ngClass]="{ 'is-invalid': submitted && formControl.Module.errors }">
                    <option value="" disabled>Choose the Module</option>
                    <option *ngFor="let Module of ComboBoxResoruceModule" [ngValue]="Module">{{Module.moduleName}}</option>
                  </select>
                    <div *ngIf="submitted && formControl.Module.errors" class="invalid-feedback">
                        <div *ngIf="formControl.Module.errors.required">Module is required</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="form-group">
                    <label><h6 class="text-sm">Topic</h6></label>
                    <input class="form-control" type="text" name="Topic" placeholder="Enter a  Topic" formControlName="Topic" [ngClass]="{ 'is-invalid': submitted && formControl.Topic.errors }">
                    <div *ngIf="submitted && formControl.Topic.errors" class="invalid-feedback">
                        <div *ngIf="formControl.Topic.errors.required">Topic is required</div>
                        <div *ngIf="formControl.Topic.errors.emptySpace">Topic is required</div>
                    </div>
                </div>
            </div>



            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="form-group">
                    <label><h6 class="text-sm">Deadline</h6></label>
                    <input type="date" class="form-control" formControlName="Deadline" [ngClass]="{ 'is-invalid': submitted && formControl.Deadline.errors }">

                    <div class="invalid-feedback" *ngIf="submitted && formControl.Deadline.errors">
                        <div *ngIf="formControl.Deadline.errors.required">Date is required</div>
                    </div>
                </div>
            </div>


            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="form-group">
                    <label><h6 class="text-sm">Upload File Type</h6></label>
                    <select type="text" name="Uploadtype" placeholder="Select a upload Type" formControlName="Uploadtype" class="form-control" (change)="ChangeDropDownValue(Uploadtype, $event)" [ngClass]="{ 'is-invalid': submitted && formControl.Uploadtype.errors }">
                                <option value="" disabled>Choose the Module</option>
                                <option *ngFor="let Uploadtype of Upload_Type" [ngValue]="Uploadtype">{{Uploadtype}}</option>
                              </select>
                    <div *ngIf="submitted && formControl.Uploadtype.errors" class="invalid-feedback text-danger">
                        <div *ngIf="formControl.Uploadtype.errors.required">Upload Type is required</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="form-group">
                    <label><h6 class="text-sm">Comment</h6></label>
                    <input class="form-control" type="text" name="Comment" placeholder="Enter a Comment" formControlName="Comment" [ngClass]="{ 'is-invalid': submitted && formControl.Comment.errors }">
                    <div *ngIf="submitted && formControl.Comment.errors" class="invalid-feedback">
                        <div *ngIf="formControl.Comment.errors.required">Comment is required</div>
                        <div *ngIf="formControl.Comment.errors.emptySpace">Comment is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3 px-3">
            <button type="submit" class="btn theme-btn" (click)="onSubmit()">Submit</button>
        </div>
    </form>
    <br>
</div>
<br>
<div class="row mb-5">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
        <div class="card2 card border-0 px-4 py-5 shadow">
            <div class="row mb-4 justify-content-center">
                <h1>Assignment Information</h1>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Topic</th>
                                <th scope="col">Module</th>
                                <th scope="col">batch</th>
                                <th scope="col">Deadline</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let assignmentResoruce of AssignmentResoruce">
                                <th scope="row">{{assignmentResoruce.topic}}</th>
                                <td>{{assignmentResoruce.module}}</td>
                                <td>{{assignmentResoruce.batch}}</td>
                                <td>{{assignmentResoruce.deadline}} </td>
                                <td>
                                    <a type="button" class="btn btn-primary" href="{{assignmentResoruce.doc}}" target="_blank" style="text-decoration: none;"><i class="far fa-eye"></i></a>
                                    <button type="button" class="btn btn-success" style="margin-left: 4px;" (click)="ResetForm();OpenModelForEdit(assignmentResoruce.assigmentFileId,editModel);AssignmentInitAPI(assignmentResoruce.assigmentFileId)"><i class="fas fa-edit"  ></i></button>
                                    <button type="button" class="btn btn-danger" style="margin-left: 4px;" (click)="OpenModelForDelete(assignmentResoruce.assigmentFileId,deleteModel)"><i class=" far fa-trash-alt "></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #deleteModel let-modal>
    <div class="app-modal-window ">
        <div class="modal-body ">
            <!-- Basic Validation -->
            <div class="row clearfix ">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class=" justify-content-center">
                        <h2 style="text-align: center">Are you sure want to Delete this file ?</h2>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Validation -->
        </div>
        <div class="modal-footer d-flex justify-content-center text-light ">
            <button type="button " class="btn theme-btn-cancel " (click)="CloseModel()">Cancel</button>
            <button type="button " class="btn theme-btn " (click)="DeleteUserAPI(assigmentFileId)">Confirm</button>
        </div>

    </div>
</ng-template>

<ng-template #editModel let-modal>
    <div class="app-modal-window ">
        <div class="modal-body ">
            <div class="modal-header">
                <h1 class="modal-title " id="modal-basic-title">Edit Assignment Details</h1>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
            </div>
            <!-- Basic Validation -->
            <form [formGroup]="editForm">

                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                            <label><h6 class="text-sm">Batch</h6></label>
                            <select type="text" name="Module" placeholder="Select a Batch" formControlName="Batch" class="form-control" (change)="ChangeDropDownValue(Batch, $event)" [ngClass]="{ 'is-invalid': submitted && EditformControl.Batch.errors }">
                                         <option value="" disabled>Choose the Batch</option>
                                        <option *ngFor="let batch of ComboBoxResoruceBatch" [ngValue]="batch">{{batch.batchNo}}</option>
                                         </select>
                            <div *ngIf="submitted && EditformControl.Batch.errors" class="invalid-feedback">
                                <div *ngIf="EditformControl.Batch.errors.required">Batch is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                            <label><h6 class="text-sm">Module</h6></label>
                            <select type="text" name="Module" placeholder="Select a Module" formControlName="Module" class="form-control" (change)="ChangeDropDownValue(Module, $event)" [ngClass]="{ 'is-invalid': submitted && EditformControl.Module.errors }">
                                <option value="" disabled>Choose the Module</option>
                                <option *ngFor="let Module of ComboBoxResoruceModule" [ngValue]="Module">{{Module.moduleName}}</option>
                              </select>
                            <div *ngIf="submitted && EditformControl.Module.errors" class="invalid-feedback">
                                <div *ngIf="EditformControl.Module.errors.required">Module is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                            <label><h6 class="text-sm">Topic</h6></label>
                            <input class="form-control" type="text" name="Topic" placeholder="Enter a  Topic" formControlName="Topic" [ngClass]="{ 'is-invalid': submitted && EditformControl.Topic.errors }">
                            <div *ngIf="submitted && EditformControl.Topic.errors" class="invalid-feedback">
                                <div *ngIf="EditformControl.Topic.errors.required">Topic is required</div>
                                <div *ngIf="EditformControl.Topic.errors.emptySpace">Topic is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                            <label><h6 class="text-sm">Deadline</h6></label>
                            <input type="date" class="form-control" formControlName="Deadline" [ngClass]="{ 'is-invalid': submitted && EditformControl.Deadline.errors }">

                            <div class="invalid-feedback" *ngIf="submitted && EditformControl.Deadline.errors">
                                <div *ngIf="EditformControl.Deadline.errors.required">Date is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                            <label><h6 class="text-sm">Upload File Type</h6></label>
                            <select type="text" name="Uploadtype" placeholder="Select a upload Type" formControlName="Uploadtype" class="form-control" (change)="ChangeDropDownValue(Uploadtype, $event)" [ngClass]="{ 'is-invalid': submitted && EditformControl.Uploadtype.errors }">
                                            <option value="" disabled>Choose the Module</option>
                                            <option *ngFor="let Uploadtype of Upload_Type" [ngValue]="Uploadtype">{{Uploadtype}}</option>
                                          </select>
                            <div *ngIf="submitted && EditformControl.Uploadtype.errors" class="invalid-feedback text-danger">
                                <div *ngIf="EditformControl.Uploadtype.errors.required">Level is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="form-group">
                            <label><h6 class="text-sm">Any Comment</h6></label>
                            <input type="text" class="form-control" formControlName="Comment" name="Comment">
                        </div>
                    </div>
                </div>
            </form>
            <!-- #END# Basic Validation -->
        </div>
        <div class="modal-footer d-flex justify-content-center text-light ">
            <button type="button " class="btn theme-btn-cancel " (click)="ResetForm();;CloseModel()">Cancel</button>
            <button type="button " class="btn theme-btn " (click)="editSubmit(assigmentFileId)">Update</button>
        </div>

    </div>
</ng-template>