<section class="dark">
    <div class="container py-4">
        <h1 class="h1 text-center" style="color:blanchedalmond" id="pageHeaderTitle">Assignment Section</h1>

        <article class="postcard dark blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/images/assignment.png" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="#">Portfolio Submission</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-book mr-2"></i>For Each Module
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Assignments are the tasks given to students by their teachers and tutors to complete in a defined time. They can also be referred to as the work given to someone as a part of learning. <br>There will be a Assignment for each and every
                    module.
                </div>

            </div>
        </article>
        <article class="postcard dark red">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/images/exam.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title red"><a href="#">Exam</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-book mr-2"></i>For Every Topic

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">There will be a small exams for every topic that students are learn.<br> Based on the exam marks the level of student will increase.
                </div>

            </div>
        </article>
        <article class="postcard dark green">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="/assets/images/quiz.png" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title green"><a href="#">Quiz</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-book mr-2"></i>For Every Topic

                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">This quiz is for students to remember what they studies so far. <br> The quiz is conduct every day after the discussion of the topic</div>

            </div>
        </article>

    </div>
</section>