<div class=" justify-content-center" style="background-color: rgba(255, 255, 255, 0.815);padding-top:50px ;">
    <h1 style=" text-align: center;">What are We Providing?</h1>
    <div class="row ">
        <div class="col-md-4">
            <hr>
            <div class="profile-card-2"><img src="/assets/images/2.jpg" class="img img-responsive">
                <div class="profile-name">Lectures</div>
                <div class="profile-username">PDF, Notes, PPTX</div>
                <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
            </div>
        </div>
        <div class="col-md-4">
            <hr>
            <div class="profile-card-2"><img src="/assets/images/3.jpg" class="img img-responsive">
                <div class="profile-name">Assignments</div>
                <div class="profile-username">Docx, Quiz, Exam</div>
                <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
            </div>
        </div>
        <div class="col-md-4">

            <hr>
            <div class="profile-card-2"><img src="/assets/images/4.jpg" class="img img-responsive">
                <div class="profile-name">Relaxation</div>
                <div class="profile-username">Games, Music, Quotes</div>
                <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
            </div>
        </div>
    </div>
</div>